div.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 20px;
  flex-wrap: nowrap;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

#logo_supplement {
  display: inline-flex;
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 40px;
  left: 150px;
}


ul#navigation {
  list-style-type: none;
  display: inline-flex;
  position: absolute;
  top: 40px;
  right: 70px;
}

li span {
  display: inline-block;
  width: 100%;
  padding: 0 20px 20px 20px;
}

li a {
  color: #111;

}

img {
  display: flex;
  margin: auto 20px;
  padding-left: 20px;
}
